@import url(styles.css);

.gallery{
    width: 100%;
    margin: 20px auto ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
}
/* Style pour les images dans la galerie */
.gallery img {
    width: 600px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 20px auto;
}

/* Style pour le conteneur de zoom */
.zoom-overlay {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.zoom-overlay img {
    max-width: 90%;
    max-height: 90%;
}

.zoom-overlay .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.btn-pages{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.switch{
    padding: 20px;
}
.btnprec{
    background-color: var(--white);
    color: var(--scout);
    padding: 10px;
    border: 2px solid var(--scout);
    border-radius: 10px;
    transition: .3s;
}
    .btnprec:hover{
        color: var(--alice);
        border: 2px solid var(--white);
        background-color: var(--scout);
    }
@media screen and (max-width: 600px) {

    .gallery img{
        width: 400px;
    }
}

@media screen and (max-width: 500px){
    .gallery img{
        width: 300px;
    }
}
@media screen and (max-width: 400px){
    .gallery img{
        width: 300px;
    }
}
@media screen and (max-width: 300px){
    .gallery img{
        width: 200px;
    }
}