@import url(styles.css);

main{
    .title{
        text-align: center;
        background-color: var(--scout);
        color: var(--alice);
        box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.212);
    }
    .corps{
        margin: 4%;
        font-size: 20px;
    }
    h2{
        margin-bottom: 30px;
    }
}