@import url(styles.css);

main{
    .title{
        text-align: center;
        background-color: var(--scout);
        color: var(--alice);
        box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.300);;
        height: 65px;
    }
    .title:first-child{
        position: relative;
        top: -6px;
        height: 60px;
    }
    #historique{  
        padding: 40px 50px 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;  
        font-size: 20px;     
        text-align: justify;
    }
    .img-baden{
        width: 300px;
        height: 400px;
    }
    .box-section{
        padding: 40px 40px 40px 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 20px;
        text-align: justify;
    }
    .pape{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px auto 50px auto;
    }
    .img-pie{
        margin: 100px auto auto auto;
    }
    /* Css de la section branche */
        .box-branches{
            margin: 20px 0 20px 0;
            display: flex;
            align-items: center;
        }
    .btn{
        background-color: var(--scout);
        color: var(--alice);
        padding: 10px;
        border: 2px solid var(--white);
        border-radius: 10px;
        transition: .3s;
    }
    .center-btn{
        text-align: center;
    }
        .btn:hover{
            color: var(--scout);
            border: 2px solid var(--scout);
            background-color: var(--white);
        }
    .insigne-eclaireur{
        width: 200px;
        height: 200px;
    }
    .insignes-route{
        width: 250px;
        height: 250px;
    }
    .btnbranch{
        color: var(--alice);
        padding: 10px;
        border: 2px solid var(--white);
        border-radius: 10px;
        transition: .3s;
    }
    .btnloup{
        background-color: var(--loup);
    }
        .btnloup:hover{
            color: var(--loup);
            border: 2px solid var(--loup);
            background-color: var(--white);
        }
    .btntroupe{
        background-color: var(--troupe);
    }
        .btntroupe:hover{
            color: var(--troupe);
            border: 2px solid var(--troupe);
            background-color: var(--white);
        }
    .btnchemin{
        background-color: var(--chemin);
    }
        .btnchemin:hover{
            color: var(--chemin);
            border: 2px solid var(--chemin);
            background-color: var(--white);
        }
    .btnroute{
        background-color: var(--route);
    }
        .btnroute:hover{
            color: var(--route);
            border: 2px solid var(--route);
            background-color: var(--white);
        }

}

@media screen and (max-width: 488px){
    main{
        .title{
            height: 90px;
        }
        h1{
            font-size: 25px;
            margin: auto 40px;
        }
        h2{
            font-size: 25px;
            margin-bottom: 15px;
        }

    }
}
@media screen and (max-width: 768px) {
    main{
        h1{
            font-size: 25px;
            margin: 0;
        }
    }
}