@import url(styles.css);

@keyframes zoomEtVaEtVient {
    0% {
        transform: translateX(0) scale(0.9); /* Position initiale et échelle normale */
    }
    50% {
        transform: translateX(0) scale(1); /* Déplacement vers la droite et zoom */
    }
    100% {
        transform: translateX(0) scale(0.9); /* Retour à la position initiale et échelle normale */
    }
}


.banderole-text{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 100px;
    color: var(--white);
}

.banderole img{
    width: 100%;
    height: 50%;
    animation: zoomEtVaEtVient 3s ease-in-out infinite ;
}

main {
    position: relative; /* Positionner le main par rapport à la banderole */
    z-index: 1; /* Placer le texte au-dessus de la banderole */
}

.contexte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    margin: auto 30px;
    line-height: 3;
}
.contexte, footer{
    background-color: var(--white);
}

h3, h2, p{
    line-height: 3;
}
.phone{
    list-style-type: none;
    margin: 10px;
}
.phone a{
    background-color: var(--scout); 
    padding:10px; 
    color: var(--white); 
    border:1px solid var(--white); 
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.phone a:hover{
    background: var(--white);
    color: var(--scout);
    border: 1px solid var(--scout);
}

@media screen and (max-width: 1280px){
    .banderole-text{
        display: none;
    }
}

